.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

// .pokemon {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 15px;
//   margin-top: 40px;

//   div {
//     display: flex;
//     flex-direction: column;
//   }
// }
